:root {
  --black-rgb: 25, 25, 25;
  --black: rgb(var(--black-rgb));

  --white-rgb: 250, 250, 250;
  --white: var(--white-rgb);

  --primary-rgb: 20, 150, 250;
  --primary: var(--primary-rgb);

  --text-color-rgb: var(--black-rgb);
  --text-color: var(--text-color-rgb);
}
